.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-toggle {
    width: 70px;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown .dropdown-toggle .lang_image{
    width: 30px;
    height: 20px;
}

.dropdown .dropdown-menu {
  display: block;
  position: absolute;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: -25px;
  max-height: 0; 
  opacity: 0;
  overflow: hidden; 
  background-color: white;
  border: 1px solid rgb(175, 175, 175);
  transition: max-height 0.3s ease, opacity 0.3s ease; /* Animate height and opacity */
}

.dropdown .dropdown-menu.show {
  max-height: 200px;
  opacity: 1;
}

.dropdown .dropdown-menu button {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}
.dropdown .dropdown-menu button .flag{
    width: 25px;
    height: 20px;
}
.dropdown .dropdown-menu a:hover {
  background-color: #f1f1f1;
}
@media screen and (max-width:600px) {
  .dropdown .dropdown-toggle .arrow-down{
    color: white;
  }
}
