@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
.nav-bar{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 10px 0;
    
}

.nav-bar .nav-container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.nav-bar .nav-container .logo a{
    font-family: "Playwrite GB S", cursive;
    color:#090713;
    font-size: 1.7rem;
    font-weight: bolder;

}
.nav-bar .nav-container .links{
    display: flex;
    gap: 45px;
    font-size: 1.3rem;
    transition: right 0.5s;
    z-index: 1;
}
.nav-bar .nav-container .links .close{
    display: none;
}
.nav-bar .nav-container .links div a{
    text-decoration: none;
    color: black;
}

.nav-bar .nav-container .menu-btn{
    background-color: transparent;
    color: black;
    font-size: 2.3rem;
    cursor: pointer;
    align-self: flex-start;
    display: none;
}

@media screen and (max-width:600px) {
    .nav-bar .nav-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-bar .nav-container .links{
        position: absolute;
        width: 60%;
        top: 0px;
        bottom: 0;
        right: -100%;
        background-color: rgb(14, 37, 80);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .nav-bar .nav-container .links div a{
        color: white;
    }
    .nav-bar .nav-container .links.open{
        right: 0;
    }
    .nav-bar .nav-container .links.open .close{
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        background-color: transparent;
    }
    .nav-bar .nav-container .menu-btn{
        display: block;
    }
}
@media screen and  (max-width:400px) {
    .nav-bar .nav-container .links.open{
        width: 100%;
        left: 0;
    }
}