.banner-container{
    width: 100%;
    position: relative;
}

/* ---- BACKGROUND IMAGE ---- */

.banner-container .background-image img{
    width: 100%;
    height: 960px;
}

/* ---- COMPANY INFO ---- */

.banner-container .company-info{
    position: absolute;
    top: 15%;
    left: 7%;
    color: white;
}
.banner-container .company-info .banner-title{
    width: 650px;
}
.banner-container .company-info .banner-title .investment-countries{
    font-size: 3rem;
}
.banner-container .company-info .banner-title .highest-income{
    margin-top: -20px;
    font-size: 1.3rem;
}

/* ---- COMPANY PTOJECTS IMAGES ---- */

.banner-container .company-info .company-projects-images{
    display: flex;
    margin-top: 50px;
    gap: 0 30px;
}

/* ---- INVESTMENT CONTAINER ---- */

.banner-container .company-info .investment-container{
    width: 550px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-top: 20px;
}
.banner-container .company-info .investment-container h3{
    font-weight: 300;
}
.banner-container .company-info .investment-container h1{
    font-size: 3rem;
    margin-top: -20px;
}

/* ---- REQUEST CALL ---- */

.banner-container .company-info .request-call button{
    width: 240px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgba(212, 181, 1, 0.521);
    outline: none;
    background-color: rgb(199,165,128);
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.banner-container .company-info .request-call button:hover{
    background-color: rgb(240, 196, 0);
    color: black;
}
